@import "tailwindcss";

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    overflow: hidden;
}